{{>userNavbar}}
{{#if userproduct}}
<div class="d-flex">

<div class=" d-flex ">
  <h2 style="font-weight:300"><b class="container-fluid">Cart</b></h2>
<div class="cart-table  ">
{{#each userproduct}}
   <div class="row cart-row mt-5">
   <div class="col-xs-12 col-md-2">
    
    <img src="/images/categoryimage/{{this.cartProducts.imageurl.[0].filename}}" width="100%">
  </div>
  <div class="col-md-6">
    <div class="product-articlenr mb-3" >#{{this.cartProducts._id}}</div>
    <div class="product-name">{{this.cartProducts.name}}</div>
    <div class="product-name">₹<span id='{{this.cartProducts._id}}total'>{{this.cartProducts.price1}}</span></div>
    <div class="product-options"><span>Size:</span>{{this.cartProducts.size}}</div>
    <div class="product-price">
        
  <div class="quantity buttons_added">
	<input type="button" value="-" class="minus" style="border: 0;" onclick="changeQuantity('{{this._id}}','{{this.cartProducts._id}}',-1)">
  <input type="number"   id='{{this.cartProducts._id}}' value="{{this.quantity}}" title="Qty" class="input-text qty text" disabled size="4" >
  <input type="button" value="+" class="plus" style="border: 0;" onclick="changeQuantity('{{this._id}}','{{this.cartProducts._id}}',1)">
</div>

        
    </div>
   </div>
  <div class="col-md-3 cart-actions">
    <div class="product-price-total">₹<span id='{{this.cartProducts._id}}count'>{{this.totalAmount}}</span></div>
    <div class="product-delete">
      <button type="button" data-toggle="tooltip" title="Delect"  class="delete mb-2" onclick="removeitem('{{this._id}}','{{this.cartProducts._id}}')">Remove</button>
      
      </div>
  </div>
  
</div>

{{/each}}

</div>
<div class="d-flex mt-5 ml-2 mr-5 ">
    <div >
     
        <div class="row m-0" style="background-color: aliceblue; padding-top:2rem;padding-left:2rem">
          <div class="col-sm-8 p-0 ">
            <h6>Discount</h6>
          </div>
          <div class="col-sm-4 p-0">
            <p>₹0</p>
          </div>
          <div class="col-sm-8 p-0 ">
            <h6>Coupons Savings</h6>
          </div>
          <div class="col-sm-4 p-0">
            <p>₹0</p>
          </div>
          <div class="col-sm-8 p-0 ">
            <h6>Delivery</h6>
          </div>
          <div class="col-sm-4 p-0">
            <p>Free</p>
          </div>
        </div>
        <hr>
        <div class="row mx-0 mb-2" style="background-color: aliceblue;">
          <div class="col-sm-8 p-0 d-inline">
            <h5>Total</h5>
          </div>
          <div class="col-sm-4 p-0">
            <p>₹<span id='subtotal'>{{totalAmount}}</span></p>
          </div>
        </div>
        <a href="/checkout"><button id="btn-checkout" class="shopnow"><span>Checkout</span></button></a>
      </div>
    </div>
  </div>
  </div>
  
  {{else}}
  
<div class="d-flex container-fluid vh-100 align-items-center  justify-content-center ">
				 <div class="row">
				 
					<div class="col-md-12">
					
							<div class="card bg-white "  >
						
						<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
									<h3><strong>Your Cart is Empty</strong></h3>
									
									<a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
									
								
								</div>
						</div>
				</div>
						
					
					</div>
				 
				 </div>
				
				</div>

{{/if}}
