{{>userNavbar}}

<div class="d-flex " style="margin-bottom: 3rem;">
  <div class="" style="width: 50% ;height:30rem;">
    <div class="d-flex justify-content-center"><img style="margin-top: 12rem;" src="images/logo.png" alt=""></div>
  </div>

  <div class="" style="width: 50%;background-color:#DEEFF4">
    <h1 class="d-flex  justify-content-center" style="margin-top: 10rem;margin-bottom: 1rem;"><b>STICKERS ARE<br> THE
        NEW COOL</b></h1>
    <button type="button" class="btn btn-dark " style="margin-left: 14rem;">BUY NOW</button>
  </div>
</div>

{{!-- product card --}}
<h3 class="" style="margin: 2rem;">New Arrivals</h3>

		<div class="row">
      {{#each productdata}}
      
    <div class="col-md-3 col-sm-6">
      
        <div class="product-grid">
            <div class="product-image">
                <a href="/product-singlepage/{{this._id}}" class="image">
                    <img src="/images/categoryimage/{{image}}">
                </a>
                <span class="product-discount-label"></span>
                <ul class="product-links">
                    {{!-- {{#if WishlistExists}}

                    {{else}}
                    <li> <button onclick="addtoWishlist('{{productdetails._id}}')"><a ><i class="fa fa-heart"></i></a></button></li>
                    {{/if}} --}}
                </ul>
                <button onclick="addToCart('{{this._id}}')" class="add-to-cart">Add to cart </button>
            </div>
            <div class="product-content">
                <h3 class="title"><a style="text-decoration: none;" href="#">{{this.name}}</a></h3>
                <div class="price">${{this.price}} <span> {{this.price1}}</span></div>
            </div>
        </div>
       
    </div>
    
     {{/each}}
    
</div>

{{>footer}}
