<link rel="stylesheet" href="/stylesheets/userProfile.css">
{{!-- <link rel="stylesheet" href="/stylesheets/useradd.css"> --}}

{{>userNavbar}}

<div class="d-flex">

  {{>userprofileSidebar}}

  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto" style="background-color: #eee;">

    <!-- Main -->
    <section style="background-color: #eee;">
      <div class="container py-5">


        <div class="row">
          
          <div class="col-lg-8">


            <div class="card mb-4">
              <div class="card-body" style="background-color: ;">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{user.name}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{user.email}}</p>
                  </div>
                </div>
                <hr>


                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Mobile</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">+91 {{user.address.[0].phone}}</p>
                  </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Edit
              </button>
                </div>
               
               <div >
              <a class="btn btn-primary" href="/changepassword">
                <i  aria-hidden="true"></i> Change Password
              </a>
              </div>
                </div>
                
           </div>
           
            </div>
            <div class="d-flex justify-content-center">

             
              

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title text-primary" id="exampleModalLabel">Edit your details</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/edituserdetails" method="post">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Full Name</label>
                          <input type="text" class="form-control" name="name" id="recipient-name" value="{{user.name}}">
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Phone Number</label>
                          <input type="text" class="form-control" name="phone" id="recipient-name"
                            value="{{user.address.[0].phone}}">
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Email Address</label>
                          <input type="text" class="form-control" name="email" id="recipient-name"
                            value="{{user.email}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" id="submit-form">Submit</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>



  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>