{{>adminNavbar}}
<section style="margin-left: 14rem;">
    <div>
        {{>adminsidebar}}
    </div>
    <div>
        <table class="table"  style="margin-top: 4rem;" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each userdetails}} 
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td> 
      {{#if this.blocked}}
      <td><a href="/admin/unblock_user/{{this._id}}" class="btn btn-success">Unblock</a></td>
      {{else}}
      <td><a href="/admin/block_user/{{this._id}}" class="btn btn-danger" style="padding-left: 2rem;">Block</a> </td>
      {{/if}}
    </tr>
    
    {{/each}}
  </tbody>
</table>


    </div>
</section>
