{{>adminNavbar}}
<section style="margin-left: 14rem;">
    <div>
        {{>adminsidebar}}
    </div>
   <section style="margin-top: 3rem;">
  <div class="row container p-5">  
    <div class="col-md-8 col-12">
    <table class="table table-bordered table-hover">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col">category Id</th>
      <th scope="col">category Name</th>
      <th scope="col">Image</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody class="bg-light">
    {{#each category}} 
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.title}}</td>
      <td><img src="/images/categoryimage/{{this.image}}" style="height: 3rem;width:3rem" alt=""></td>
      <td>
        <div> <a href="/admin/editcategory/{{this._id}}" class="btn"><i class="fa fa-edit text-primary"></i></a></div>
              <div><a href="#" onclick="delectCategory('{{this._id}}')" class="btn"><i class="fa fa-trash text-danger"></i></a></div>
      </td>
    </tr>
    {{/each}}
    
   
  </tbody>
</table>
    </div>
    <div class="col-md-4 col-12 p-5" style="background-color: #ddddddc9;" >
       <form action="/admin/addcategory" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <h2><u>Add Category</u></h2>
    <label for="exampleInputEmail1" class="form-label">Category Name</label>
    <input type="text" class="form-control" name="categoryName" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Add image</label>
    <input class="form-control" type="file" name="image" id="formFile">
  </div>
<div class="d-flex justify-content-center">
  <button type="submit" class="btn fontcolor login-btn">Submit</button>
  </div>
</form>
    </div>
</div>

   </section>